@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Practise</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Assessment</label>
            </div>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select Security Group</option>
                <option value="EvolveLabUser">EvolveLabUser</option>
                <option value="MavericksLabUser">MavericksLabUser</option>
            </select>
        </div>
        <div class="mb-3 form-check">
            <select class="form-select" aria-label="Default select example">
                <option selected>Select User</option>
                <option value="1000012345">Danish</option>
                <option value="1000012345">Shalu</option>
                <option value="1000012345">Arun</option>
                <option value="1000012345">Satish</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   
    
</div>
